body, default {
    line-height: 1.6em;
    font-family: "Lucida Sans Unicode", "Lucia Grande", "Sans-Serif";
    font-size: 12px;
    color: #669;
}

/* Generales */
select[multiple] {
    width: 16.75rem;
}

/* Utilitarios */
.btn {
    background-color: #669;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.mb-1 {
    margin-bottom: 10px;
}

.btn:hover {
    background-color: #515179;
}

form {
    display: flex;
    justify-content: center;
}

/* Tabla */
#enfasis-columna {
    margin: 45px;
    width: 480px;
    text-align: left;
    border-collapse: collapse;
}

#enfasis-columna caption {
    font-size: 20px;
}

#enfasis-columna th {
    font-size: 14px;
    font-weight: normal;
    padding: 12px 15px;
    color: #039;
}

#enfasis-columna td {
    padding: 10px 15px;
    color: #669;
    border-top: 1px solid #e8edff;
}

.columna {
    background-color: #d0dafd;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
}

#enfasis-columna tr:hover td {
    color: #339;
    background-color: #eff2ff;
}





